# Datashader GPU support - points rendering

First, load the NYC Yellow Taxi dataset from January 2015 available here: https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page :

In [4]:
import time
import os
import numpy as np
import pandas as pd
import cudf
from numba import cuda as nb_cuda
import datashader as ds
from datashader import transfer_functions as tf
import dask.dataframe as dd

pdf = pd.read_csv('./yellow_tripdata_2015-01.csv',
                  usecols=['dropoff_latitude','dropoff_longitude', 'passenger_count', 'payment_type']
                 ) # Load into Pandas DF and select rows

pdf['passenger_count'] = pdf['passenger_count'].astype(np.float64) # Convert aggregation column
pdf['passenger_cat'] = pdf['passenger_count'].astype('int8').astype('category')
pdf['payment_type'] = pdf['payment_type'].astype('int8').astype('category')

# Replicate DataFrame to increase size
reps = 10
pdf = pd.concat([pdf]*reps)
pdf.head()

,passenger_count,dropoff_longitude,dropoff_latitude,payment_type,passenger_cat
0,1.0,-73.974785,40.750618,1,1
1,1.0,-73.994415,40.759109,1,1
2,1.0,-73.951820,40.824413,2,1
3,1.0,-74.004326,40.719986,2,1
4,1.0,-74.004181,40.742653,2,1

### Load into a cudf DataFrame

In [5]:
os.environ["CUDA_VISIBLE_DEVICES"] = "0" # Choose GPU
gdf = cudf.from_pandas(pdf) # Convert to cuDF DataFrame
print("Dataframe has {:,} rows".format(gdf.shape[0]))

Dataframe has 127,489,860 rows

### Load into dask DataFrame

In [6]:
ddf = dd.from_pandas(pdf, npartitions=12).persist()
ddf

Dask DataFrame Structure:
               passenger_count dropoff_longitude dropoff_latitude     payment_type    passenger_cat
npartitions=12
0                      float64           float64          float64  category[known]  category[known]
1062416                    ...               ...              ...              ...              ...
...                        ...               ...              ...              ...              ...
11686571                   ...               ...              ...              ...              ...
12748985                   ...               ...              ...              ...              ...
Dask Name: from_pandas, 12 tasks

## Render image with colorscale

In [ ]:
from datashader.colors import Set1


def render_points(df, reduction, how='eq_hist', cmap=Set1):
    cvs = ds.Canvas(
        plot_width=1000, plot_height=1000,
        x_range=(-74.993896484375,-72.993896484375), y_range=(39.762428283691406,41.762428283691406)
    )
    agg = cvs.points(df, 'dropoff_longitude', 'dropoff_latitude', reduction)
    return tf.shade(agg, cmap=cmap, how=how)

timings = {}
render_points(pdf, ds.count('passenger_count'))

In [ ]:
timings['count_pandas'] = %timeit -o render_points(pdf, ds.count('passenger_count'))

In [ ]:
timings['count_dask'] = %timeit -o render_points(ddf, ds.count('passenger_count'))

In [ ]:
timings['count_cudf'] = %timeit -o render_points(gdf, ds.count('passenger_count'))

## Render image with categorical colors

In [ ]:
render_points(pdf, ds.count_cat('payment_type'))

In [ ]:
timings['categorical_pandas'] = %timeit -o render_points(pdf, ds.count_cat('payment_type'))

In [ ]:
timings['categorical_dask'] = %timeit -o render_points(ddf, ds.count_cat('payment_type'))

In [ ]:
timings['categorical_cudf'] = %timeit -o render_points(gdf, ds.count_cat('payment_type'))